<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
        <div>
          <h1>PPM - Project Product Management Weather Forecast</h1>
          <a [routerLink]="['home']">Home</a> | 
          <a [routerLink]="['products']">Product List</a> |
          <a [routerLink]="['products','new']">Product Creation</a>  
          
        </div>  
        <div class="details">
            <router-outlet></router-outlet>
        </div>
  
</body>
</html>